// copyright block

.copyright {
  max-width: 100%;
  margin: 0 auto;
  background-color: $heading-color;
  // height: 47px;
  padding: 10px 30px;
  
  &__inner {
    max-width: 586px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 36px;
    // justify-content: space-between;
    align-items: center;
  }

  &__text {
    color: white;
    font: $font-bold;
    line-height: 150%;
    text-align: center;
  }
  
  &__link {
    color: #75D6FF;
    border-bottom: 1px solid #75D6FF;
  }
}

.close-btn {
  @include bg('../../assets/icons/Close.png', center, center);
  width: 10px;
  height: 10px;
  background-color: inherit;
}