// @import '../../scss/common';
// @import '../../scss/reset';
// @import '../../scss/copyright';
// @import '../../scss/logo';
// @import '../../scss/form';
// @import '../../scss/button';
// @import '../../scss/header';
// @import '../../scss/footer';



.comment__form {
  max-width: 534px;
  margin: 48px auto 0;
  @media screen and (max-width: 900px) {
    margin: 40px;
  }
  @media screen and (max-width: 767px) {
    margin: 40px 20px 0 20px;
  }
}

