// header block Not Logged in
.header {
  // position: relative;
  max-width: 1140px;
  margin: 40px auto;
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
  @media screen  and (max-width:1170px) {
    width: calc(100% - 80px);
    height: 40px;
  }
 
  @media screen  and (max-width:600px) {
    width: calc(100% - 40px);
  }

  &__inner-left {
    display: flex;
    gap:32px;
  }

  

  &__home {
    @extend %text;
    @media screen  and (max-width:900px) {
      display: none;
    }
  }

  &__inner-right {
    display: flex;
    gap:23px;
    align-items: center;

    
    @media screen  and (max-width:900px) {
      display: none;
    }
  }

  &__login {
  @extend %text;
  }

  &__btn {
    width: 204px; 
  }
  &__user {
    font: $font-bold;
    line-height: 150%;
    color: $text-color;
  }

  &__logout {
    @extend .header__user;
    font-weight: 400;
  }
}
.burger {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: $bg-color;
  display: none;
  @media screen and (max-width:900px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;

  }

  &__line {
    display: block;
    width: 18px;
    height: 2px;
    background-color: black;
  }
}
