@import '../../scss/reset';
@import '../../scss/common';
@import '../../scss/logo';
@import '../../scss/button';
@import '../../scss/form';

.sign {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: (834px / 1440px) * 100% 1fr;
  

  @media screen and (max-width:1170px) {
    grid-template-columns: 1fr;
  }

  &__inner {
    background-color: white;
    max-width: 534px;
    margin: 0 auto;
    padding: 40px 0;
    @media screen and (max-width:1170px) {
      max-width: calc(100% - 80px);
    }
    @media screen and (max-width:600px) {
      max-width: calc(100% - 40px);
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 150px;

      @media screen and (max-width:1170px) {
    margin-bottom: 40px;
  }
    
  }
  &__link {
    font: $font-text;
    line-height: (20px / 18px) * 100%;
    color: $text-color;
  }
  
}


.quote {
  max-width: 100%;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width:1170px) {
    padding: 0 40px;
  }
  @media screen and (max-width:600px) {
    padding: 0 20px;
  }
  
  &__inner {
    min-width: 306px;
    max-width: 306px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin: 300px auto;

    @media screen and (max-width:1170px) {
      max-width: 814px;
      margin: 50px 0;
    }
  }

  &__text {
    @include headings (24px);
    line-height: 162%;
    letter-spacing: 0.2px;
  }

  &__person {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 56px;
    @include bg('../../assets/icons/User.png',left, center);
  }

  &__name {
    @include headings(16px);
  }

  &__status {
    @extend %text;
    line-height: (17px / 16px) *100%;
    font-size: 16px;
   }
}