// import reset
@import '../../scss/reset';

// import common styles
@import '../../scss/common';

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 660px;
  grid-template-rows: 107px 1fr;
  grid-template-areas: 
   "header image"
   "main   image" ;
  background-color: $bg-color;

    @media screen and (max-width: 1170px) {
      max-width: 1170px;
      grid-template-columns: 1fr;
      grid-template-rows: 107px 375px 1fr;
      grid-template-areas: 
       "header"
       "image"
       "main" ;
      }
      @media screen and (max-width: 767px) {
        max-width: 767px;
        // grid-template-rows: 107px 375px 572px;
      }
}

.header {
  grid-area: header;
  width: 520px;
  height: 107px;
  padding-left: 20px;
  margin: 0 auto;

  @media screen and (max-width:1170px) {
      width: 100%;
      padding-left: 40px;
   }
  @media screen and (max-width:767px) {
      width: 100%;
      padding-left: 20px;
   }

  &__logo {
    margin: 40px 0;
  }
}

.about {
  grid-area: main;
  max-width: 520px;
  padding-left: 20px;
  margin: 88px auto 196px;

  @media  screen and (max-width:1170px) {
    max-width: 100%;
    margin: 40px;
    padding-left: 0;
  }
  @media  screen and (max-width:767px) {
    
    margin: 40px 20px;
    padding-left: 0;
  }

    
  &__header {
    @extend %heading;
    margin-bottom: 8px;
    
    @media  screen and (max-width:767px) {
      font-size:36px;
    }
  }

  &__text {
    @extend %text;
   }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 16px 0 24px 0;
  }

  &__list-item {
    @extend %text;
    @include bg('../../assets/icons/mark.png', left, top);
    padding-left: 36px;
   }

  &__btn {
    width: 216px;
    margin-bottom: 36px;
  }

  &__logos {
    max-width: 420px;
    height: 42px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    margin-top: 8px;
    @media screen and (max-width:767px) {
      gap: 0;
    }
    @media screen and (max-width:410px) {
      flex-wrap: wrap;
    }
  }

  &__logos-item {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(1) {
      width: 82px;
    }
    &:nth-child(2) {
      width: 130px;
    }
    &:nth-child(3) {
      width: 160px;
    }
   }
}

@import '../../scss/_logo';

@import '../../scss/_button';

.image {
 grid-area: image;
 width: 100%;

 @include bg('../../assets/images/Hero-desctop.jpg', center, center);

 @media screen and (max-width:1170px) {
  @include bg('../../assets/images/Hero-tablet.jpg',center, center);
  background-size: cover;
 }


   

 }


