// import reset
@import '../../scss/reset';

// import common styles
@import '../../scss/common';

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: (1440px - 661px) / 1440px *100%  661px/1440px*100%;
  grid-template-rows: 107px 1fr;
  grid-template-areas: 
   "header image"
   "main   image" ;
  background-color: $bg-color;
}
.header {
  grid-area: header;
  height: 107px;
  padding: 40px 0 40px 150px;

  // &__logo {
    
  // }
}

.about {
  grid-area: main;
  width: 520px;
  padding-left: 20px;
  margin: 88px auto 196px;
    
  &__header {
    @extend %heading;
    margin-bottom: 8px;
    width: 480px;
  }

  &__text {
    @extend %text;
    width: 480px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 16px 0 24px 0;
  }

  &__list-item {
    @extend %text;
    @include bg('../../assets/icons/mark.png', left, top);
    padding-left: 36px;
   }

  &__btn {
    width: 216px;
    margin-bottom: 36px;
  }

  &__logos {
    width: 420px;
    height: 42px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    margin-top: 8px;
  }

  &__logos-item {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(1) {
      width: 82px;
    }
    &:nth-child(2) {
      width: 130px;
    }
    &:nth-child(3) {
      width: 160px;
    }
   }
}

@import '../../scss/_logo';

@import '../../scss/_button';

.bg-image {
  grid-area: image;
  width: 660px;
  height: 900px;
}
