// import reset
@import '../../scss/reset';

// import common styles
@import '../../scss/common';



.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $bg-color;
}

.about {
  width: 520px;
  padding-left: 20px;
  margin: 40px auto 196px;
 
  &__logo {
    margin-bottom: 128px;
  }
 
  &__header {
    @extend %heading;
    margin-bottom: 8px;
    width: 480px;
  }

  &__text {
    @extend %text;
    width: 480px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 16px 0 24px 0;
  }

  &__list-item {
    @extend %text;
    @include bg('../../assets/icons/mark.png', left, top);
    padding-left: 36px;
   }

  &__btn {
    width: 216px;
    margin-bottom: 36px;
  }

  &__logos {
    width: 420px;
    height: 42px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    margin-top: 8px;
  }

  &__logos-item {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(1) {
      width: 82px;
    }
    &:nth-child(2) {
      width: 130px;
    }
    &:nth-child(3) {
      width: 160px;
    }
   }
}

@import '../../scss/_logo';

// .logo {
//   width: 118px;
//   height: 27px;
//   @include bg('../../assets/icons/logo.png', left,center);
//   text-align: center;
//   padding-left: 30px;
//   font: $font-bold;
//   line-height: 150%;
// }

// .button {
//   background-color:$btn-bg-color;
//   color: white;
//   font: $font-bold;
//   border-radius: 5px;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   height: 63px;
// }
@import '../../scss/_button';

.bg-image {
  width: 660px;
  height: 900px;
}
